#search-button {
    position: absolute;
    margin-top: 11px;
    margin-left: 16px;
    font-size: 16px;
    z-index: 10;
}

#search-bar[type="search"]:focus {
    box-shadow: none;
}

.wd-bottom-left {
    position: absolute;
    left: 8px;
    bottom: 8px;
    font-weight: bold;
    color: #282828;
}

#gear-icon {
    color: deepskyblue;
}

.wd-follow-button-style {
    width: 84px;
    height: 38px;
    border: none;
}